.DS_Store
.python-version
**/__pycache__/
**/.DS_Store
**/.ipynb_checkpoints/

passing-networks/__pycache__/utils.cpython-38.pyc

#video
analysis-with-tracking-data/data/home_goal_2.mp4

#data
passing-networks/data/
expected-goals/data/