[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
argparse = "*"
pandas = "*"
requests = "*"
matplotlib = "*"
numpy = "*"
socceraction = "*"
xgboost = "*"
tqdm = "*"

[requires]
python_version = "3.8"
